body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(247, 247, 247);
}

.navBar{
    background-color: rgb(223, 225, 238);
    position: relative;
    margin-left: 10px;
    margin-right:10px;
    padding: 10px 14px 0px;
    height: 55px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.title{
    margin-left: 10px ;
    top: 10px; 
    font-size: large;
    font-weight: bold ;
}

.homebtn-div{
    height: 0px;
}

.home-btn,
.signout-btn{
    background-color: rgb(255, 255, 255);
    color: #191970;
    border:1px;
    top:15px;
    border-style: solid;
    border-color:rgb(6,95,212);
    border-radius: 4px;
    padding-left: 12px;
    padding-right: 12px ;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 5px 5px 5px rgba(0,0,0, 0.3);
}

.home-btn:active,
.signout-btn:active{
    box-shadow: none;
    top: 13px;
    margin-bottom: 0;
}

.home-btn:hover,
.signout-btn:hover{
    opacity: 1;
}

.signout-btn{
    position: absolute;
    right: 20px;
}

.home-btn{
    position: absolute;
    right: 120px; 
}

.registerForm{
    display: flex;
    width: 500px;
    margin: auto;
    margin-top:40px; 
    border-radius: 20px;
    background-color: rgb(223, 225, 238);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    justify-content: center;
    text-align: center;
}


/* Reset some default styles */
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #ccc;
    padding: 8px 25px;
    margin:10px 50px 0px;
    font-size: 16px;
    width: 200px;
    border-radius: 4px;
    outline: none;
    background-color: #fff;
  }
  
  /* Style the arrow icon */
  select::after {
    content: '\25BC'; /* Unicode character for the down arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }
  
  /* Hover effect */
  select:hover {
    border-color: #888;
  }
  
  /* Focus effect */
  select:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.6);
  }
  

.form-group{
    margin: 10px 2px 6px;
}

.input{
    height: 40px;
    width:300px;
    padding-left: 10px;
    right: 10px;
    border: none;
    border-radius:8px ;
}

.submit-btn{
    background-color: rgb(255, 255, 255);
    color:rgb(6,95,212);
    border:1px;
    border-style: solid;
    border-color:rgb(6,95,212);
    border-radius: 4px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
    cursor: pointer;
    margin-right:8px;
    vertical-align: top;
    transition: background-color 0.2s , color 0.2s ;
}

.submit-btn:hover{
    background-color:rgb(6,95,212);
    color: white;
}

.submit-btn:active{
    opacity: 0.7;    
}
