body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(247, 247, 247);
}

.navBar{
    background-color: rgb(223, 225, 238);
    position: relative;
    margin-left: 10px;
    margin-right:10px;
    padding: 10px 14px 0px;
    height: 55px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.title{
    margin-left: 10px ;
    top: 10px; 
    font-size: large;
    font-weight: bold ;
}

.table-div{
    display: flex;
    position: relative;
    justify-content: center;
    background-color: rgb(223, 225, 238);
    margin:20px 15px;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.homebtn-div{
    height: 0px;
}

.home-btn,
.signout-btn,
.password-btn{
    background-color: rgb(255, 255, 255);
    color: #191970;
    border:1px;
    top:15px;
    border-style: solid;
    border-color:rgb(6,95,212);
    border-radius: 4px;
    padding-left: 12px;
    padding-right: 12px ;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 5px 5px 5px rgba(0,0,0, 0.3);
}

.home-btn:active,
.signout-btn:active,
.password-btn:active{
    box-shadow: none;
    top: 13px;
    margin-bottom: 0;
}

.home-btn:hover,
.signout-btn:hover,
.password-btn:hover{
    opacity: 1;
}

.signout-btn{
    position: absolute;
    right: 16px;
}

.password-btn{
    position: absolute;
    right: 108px;
}

.home-btn{
    position: absolute;
    right: 260px; 
}

table{
    display: flex;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid black;
  }

.check{
    width: 30px;
    height: 30px;
    border-radius: 200%;
    background-color: #d6e4ec;
    border: 1px solid #000;
    display: block;
    font-size: 140%;
    font-weight: 900;
    content: "";
    color: green;
}

  .addUser,
  .editUser,
  .deleteUser{
    position: absolute;
    background-color: rgb(255, 255, 255);
    border:1px;
    border-style: solid;
    border-radius: 4px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
    cursor: pointer;
    margin-right:8px;
    vertical-align: top;
    transition: background-color 0.2s , color 0.2s ;
  }

  .addUser{
    color:rgb(6,95,212);
    border-color:rgb(6,95,212);
    right: 6px;
    bottom: 6px;
  }

  .editUser{
    color:rgb(6,95,212);
    border-color:rgb(6,95,212);
    right: 104px;
    bottom: 6px;
  }

  .deleteUser{
    color:rgb(255,0,0);
    border-color:rgb(255,0,0);
    right: 170px;
    bottom: 6px;
  }

  .addUser:hover,
  .editUser:hover{
    background-color:rgb(6,95,212);
    color: white;
  }

  .deleteUser:hover{
    background-color:rgb(255,0,0);
    color: white;
  }

  .addUser:active,
  .editUser:active,
  .deleteUser:active{
    opacity: 0.7;    
  }

